@import './global.scss';
body{
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.main{

}
.leftChannel{
    width:200px;
    float: left;
}
.content{
    float: left;
}